/lib/
/dist/
/node_modules/
/build/
/*.egg-info/
/*.tgz
.ipynb_checkpoints/
/tsconfig.tsbuildinfo
/jupyter_bokeh/labextension/
/jupyter_bokeh/nbextension/index.js
/jupyter_bokeh/nbextension/index.js.map
__pycache__/
/.yarn
/jupyter_bokeh/_version.py